<div class="login">
  <div class="login-header">
    <h1>Login</h1>
  </div>
  <div [formGroup]="login" class="login-form">
    <h3>Username:</h3>
    <input type="text" placeholder="username" formControlName="username">
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
  </div>
    <h3>Password:</h3>
    <input type="password" placeholder="password"  formControlName="password">
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
  </div>
    
    <input type="button" value="Login" (click)="Login()" class="login-button"/>

    </div>


