<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<div class="login">
  <div class="login-header">
    <h1>Login</h1>
  </div>
  <div [formGroup]="login" class="login-form">
    <h3>Username:</h3>
    <input type="text" placeholder="username" formControlName="username">
    <h3>Password:</h3>
    <input type="password" placeholder="password"  formControlName="password">

    
    <input type="button" value="Login" (click)="Login()" class="login-button"/>

    </div>
