
.button {
  background-color: #e4504a;
  border: none;
  color: rgb(3, 3, 3);
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}
